body {
  margin:0;
}

@font-face {
  font-family: 'Zorque';
  src: url('./zorque.ttf') format('woff2'),
       url('./zorque.ttf') format('woff'),
       url('./zorque.ttf') format('truetype'); /* Add other formats if you have them */
  font-weight: 400;
  font-style: normal;
}

.background-video {
  	position: absolute;
  	width: 100%;
  	top: 0;
  	left: 0;
  	height: 100%;
    transform-origin: 0,0;
    z-index: 0;
}
.background-video video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}

.overlay {
  	position: absolute;
  	width: 100%;
  	top: 0rem;
  	right: 0rem;
  	left: 0rem;
  	background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), linear-gradient(180deg, rgba(0, 0, 0, 0) 68%, #000 85%), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 9%, #000 60%);
  	height: 100%;
}
.home-background {
    position: relative;
  	width: 100%;
  	height: 64rem;
    overflow: hidden;
}

.home {
  	position: absolute;
  	width: calc(100% + 532px);
  	top: 0rem;
  	right: -16.625rem;
  	left: -16.625rem;
  	height: 43.938rem;
}
.figma-icon {
  	width: 3.125rem;
  	position: relative;
  	height: 3.125rem;
}
.ps-icon {
  	width: 3.125rem;
  	position: relative;
  	height: 3.125rem;
}
.ai-icon {
  	width: 3.125rem;
  	position: relative;
  	height: 3.125rem;
}
.icons {
  	width: 19.188rem;
  	box-shadow: 0px 0px 29px -8px rgba(24, 24, 24, 0.4);
  	border-radius: 18.54px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 4.5rem;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.562rem 0rem 0.937rem;
  	box-sizing: border-box;
  	gap: 0.625rem;
}
.headline {
  	position: relative;
  	line-height: 2.025rem;
}
.box {
  	width: 18.938rem;
  	box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.06);
  	border-radius: 27px;
  	background-color: #0f0f0f;
  	height: 12.188rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 2.475rem 1.687rem 3.125rem;
  	box-sizing: border-box;
  	gap: 0.625rem;
}
.icons1 {
  	width: 19.25rem;
  	box-shadow: 0px 0px 29px -8px rgba(24, 24, 24, 0.4);
  	border-radius: 18.54px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 4.5rem;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 0.625rem;
}
.box1 {
  	width: 19rem;
  	box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.06);
  	border-radius: 27px;
  	background-color: #0f0f0f;
  	height: 12.188rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 2.475rem 1.687rem;
  	box-sizing: border-box;
  	gap: 0.625rem;
}
.development-icon {
  	width: 2.531rem;
  	position: relative;
  	height: 2.25rem;
}
.icons2 {
  	width: 19.188rem;
  	box-shadow: 0px 0px 29px -8px rgba(24, 24, 24, 0.4);
  	border-radius: 18.54px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 4.5rem;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 0.625rem;
}
.box2 {
  	width: 18.938rem;
  	box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.06);
  	border-radius: 27px;
  	background-color: #0f0f0f;
  	height: 12.188rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 2.475rem 1.687rem;
  	box-sizing: border-box;
  	gap: 0.625rem;
}
.mini-tabs {
  	position: absolute;
  	top: 37.438rem;
  	left: calc(50% - 151.67px);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 0.937rem;
  	font-size: 1.75rem;
}
.photo1-icon {
  	position: absolute;
  	top: calc(50% - 83.25px);
  	left: calc(50% - 166.5px);
  	width: 6.931rem;
  	height: 10.406rem;
  	object-fit: cover;
}
.photo2-icon {
  	position: absolute;
  	top: calc(50% - 83.25px);
  	left: calc(50% - 55.59px);
  	width: 6.931rem;
  	height: 10.406rem;
  	object-fit: cover;
}
.photo3-icon {
  	position: absolute;
  	top: calc(50% - 83.25px);
  	left: calc(50% + 55.62px);
  	width: 6.931rem;
  	height: 10.406rem;
  	object-fit: cover;
}
.row {
  	position: absolute;
  	top: calc(50% - 249.75px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 10.406rem;
}
.photo1-icon1 {
  	position: absolute;
  	top: calc(50% - 83.4px);
  	left: calc(50% - 166.5px);
  	width: 6.95rem;
  	height: 10.425rem;
  	object-fit: cover;
}
.photo2-icon1 {
  	position: absolute;
  	top: calc(50% - 83.4px);
  	left: calc(50% - 55.59px);
  	width: 6.95rem;
  	height: 10.425rem;
  	object-fit: cover;
}
.photo3-icon1 {
  	position: absolute;
  	top: calc(50% - 83.4px);
  	left: calc(50% + 55.32px);
  	width: 6.95rem;
  	height: 10.425rem;
  	object-fit: cover;
}
.row1 {
  	position: absolute;
  	top: calc(50% - 83.23px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 10.425rem;
}
.photo1-icon2 {
  	position: absolute;
  	top: calc(50% - 83.1px);
  	left: calc(50% - 166.5px);
  	width: 6.931rem;
  	height: 10.388rem;
  	object-fit: cover;
}
.photo2-icon2 {
  	position: absolute;
  	top: calc(50% - 83.1px);
  	left: calc(50% - 55.59px);
  	width: 6.931rem;
  	height: 10.388rem;
  	object-fit: cover;
}
.photo3-icon2 {
  	position: absolute;
  	top: calc(50% - 83.1px);
  	left: calc(50% + 55.62px);
  	width: 6.931rem;
  	height: 10.388rem;
  	object-fit: cover;
}
.row2 {
  	position: absolute;
  	top: calc(50% + 83.58px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 10.388rem;
}
.images {
  	position: absolute;
  	top: calc(50% - 249.75px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 31.219rem;
}
.creative-designs {
  	position: absolute;
  	top: calc(50% - 211.25px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 31.219rem;
}
.creative-header {
  	position: absolute;
  	top: calc(50% - 288.25px);
  	left: calc(50% - 136.5px);
  	line-height: 3.544rem;
  	display: inline-block;
  	width: 17.063rem;
}
.designs {
  	position: absolute;
  	top: calc(50% - 1956.5px);
  	left: calc(50% - 166.5px);
  	width: 20.813rem;
  	height: 36.031rem;
  	text-align: left;
  	font-family: Zorque;
}
.video-header {
  	position: absolute;
  	top: calc(50% - 127px);
  	left: calc(50% - 105px);
  	line-height: 3.544rem;
  	display: inline-block;
  	width: 13.063rem;
}
.video-icon {
  	position: absolute;
  	top: calc(50% - 50px);
  	left: calc(50% - 161px);
  	width: 20.125rem;
  	height: 11.063rem;
}
.video-editing {
  	position: absolute;
  	top: calc(50% - 1329.95px);
  	left: calc(50% - 160.5px);
  	width: 20.125rem;
  	height: 15.875rem;
  	text-align: left;
  	font-family: Zorque;
}
.prev-header {
  	position: absolute;
  	top: calc(50% - 1275.75px);
  	left: calc(50% - 117px);
  	font-size: 2.25rem;
  	line-height: 3.544rem;
  	font-family: Zorque;
  	display: inline-block;
  	width: 14.625rem;
}
.prev1img-icon {
  	position: absolute;
  	top: calc(50% - 292.75px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 12.875rem;
  	overflow: hidden;
  	object-fit: cover;
}
.title {
  	position: absolute;
  	top: calc(50% - 76.75px);
  	left: calc(50% - 161px);
  	line-height: 3.544rem;
}
.the-national-basketball {
  	margin: 0;
  	line-height: 1.688rem;
}
.printproduce-100-bags {
  	line-height: 2.625rem;
}
.stress-balls-completed {
  	line-height: 1.688rem;
}
.printproduce-100-bags-jerse {
  	margin: 0;
}
.midtext {
  	position: absolute;
  	top: calc(50% - 19.3px);
  	left: calc(50% - 161px);
  	font-size: 1rem;
  	display: inline-block;
  	width: 19.938rem;
}
.prev1 {
  	position: absolute;
  	top: calc(50% - 1198.75px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 36.594rem;
}
.prev1img-icon1 {
  	position: absolute;
  	top: calc(50% - 280px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 12.875rem;
  	overflow: hidden;
  	object-fit: cover;
}
.title1 {
  	position: absolute;
  	top: calc(50% - 64px);
  	left: calc(50% - 161px);
  	line-height: 3.544rem;
  	display: inline-block;
  	width: 13.625rem;
}
.design-completion-1 {
  	margin: 0;
  	line-height: 2.625rem;
}
.midtext1 {
  	position: absolute;
  	top: calc(50% - 5px);
  	left: calc(50% - 161px);
  	font-size: 1rem;
  	display: inline-block;
  	width: 19.938rem;
}
.prev2 {
  	position: absolute;
  	top: calc(50% - 577.3px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 35rem;
}
.prev1img-icon2 {
  	position: absolute;
  	top: calc(50% - 320.5px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 12.875rem;
  	overflow: hidden;
  	object-fit: cover;
}
.title2 {
  	position: absolute;
  	top: calc(50% - 104.5px);
  	left: calc(50% - 161px);
  	line-height: 3.544rem;
}
.midtext2 {
  	position: absolute;
  	top: calc(50% - 45.5px);
  	left: calc(50% - 161px);
  	font-size: 1rem;
  	display: inline-block;
  	width: 19.938rem;
}
.prev3 {
  	position: absolute;
  	top: calc(50% + 20.7px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 40.063rem;
}
.prev1img-icon3 {
  	position: absolute;
  	top: calc(50% - 293.5px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 12.875rem;
  	overflow: hidden;
  	object-fit: cover;
}
.title3 {
  	position: absolute;
  	top: calc(50% - 77.5px);
  	left: calc(50% - 161px);
  	line-height: 3.544rem;
}
.threadbox-a {
  	margin: 0;
  	line-height: 1.688rem;
  	white-space: pre-wrap;
}
.midtext3 {
  	position: absolute;
  	top: calc(50% - 18.5px);
  	left: calc(50% - 161px);
  	font-size: 1rem;
  	display: inline-block;
  	width: 19.938rem;
}
.prev4 {
  	position: absolute;
  	top: calc(50% + 688.7px);
  	left: calc(50% - 166px);
  	width: 20.75rem;
  	height: 36.688rem;
}
.previous-work {
  	position: absolute;
  	top: calc(50% - 1025.95px);
  	left: calc(50% - 165.5px);
  	width: 20.75rem;
  	height: 159.469rem;
  	text-align: left;
  	font-size: 1.5rem;
}
.about-background {
  	position: absolute;
  	width: 100%;
  	top: calc(50% - 678.5px);
  	right: 0rem;
  	left: 0rem;
  	background-color: #d9d9d9;
  	height: 84.813rem;
}
.linkedin-icon {
  	width: 2.569rem;
  	position: relative;
  	height: 2.569rem;
  	cursor: pointer;
}
.github-icon {
  	width: 2.538rem;
  	position: relative;
  	height: 2.513rem;
  	cursor: pointer;
}
.email-icon {
  	width: 2.525rem;
  	position: relative;
  	height: 2.525rem;
}
.instagram-icon {
  	width: 2.619rem;
  	position: relative;
  	height: 2.619rem;
  	cursor: pointer;
}
.links {
  	position: absolute;
  	top: 77.625rem;
  	left: calc(50% - 131.5px);
  	box-shadow: 0px 0px 29px -8px rgba(24, 24, 24, 0.4);
  	border-radius: 18.54px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 16.438rem;
  	height: 4.5rem;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.562rem 0rem 0.937rem;
  	box-sizing: border-box;
  	gap: 1.25rem;
}
.picture-icon {
  	position: absolute;
  	top: calc(50% - 634.5px);
  	left: calc(50% - 102.5px);
  	width: 12.875rem;
  	height: 16.25rem;
  	object-fit: cover;
}
.title4 {
  	position: absolute;
  	top: calc(50% - 339.5px);
  	left: calc(50% - 87.5px);
  	line-height: 3.544rem;
  	display: inline-block;
  	width: 11rem;
}
.body {
  	position: absolute;
  	top: calc(50% - 268.5px);
  	left: calc(50% - 159.5px);
  	font-size: 1rem;
  	line-height: 1.688rem;
  	text-align: center;
  	display: inline-block;
  	width: 19.938rem;
}
.about-me {
  	position: absolute;
  	width: 100%;
  	top: calc(50% + 1564.5px);
  	right: 0rem;
  	left: 0rem;
  	height: 84.813rem;
  	text-align: left;
  	color: #000;
}
.copywrite {
  	position: absolute;
  	bottom: 0rem;
  	left: calc(50% - 13.5px);
  	line-height: 0.875rem;
  	font-weight: 600;
  	display: inline-block;
  	width: 10.688rem;
  	height: 2.875rem;
}
.link-home-2-icon {
  	position: absolute;
  	top: 10.75rem;
  	left: calc(50% - 149.5px);
  	width: 6.188rem;
  	height: 2.25rem;
  	object-fit: cover;
  	cursor: pointer;
}
.divider {
  	position: absolute;
  	height: 0.9%;
  	width: 100%;
  	top: 64.86%;
  	right: 0%;
  	bottom: 34.23%;
  	left: 0%;
  	background-color: #fff;
  	opacity: 0.25;
}
.hero-text {
  	position: absolute;
  	height: 29.73%;
  	top: 0%;
  	left: calc(50% - 131.5px);
  	font-size: 1.5rem;
  	line-height: 1.875rem;
  	font-weight: 600;
  	display: inline-block;
  	width: 16.5rem;
}
.sub-text {
  	position: absolute;
  	height: 19.82%;
  	top: 33.78%;
  	left: calc(50% - 115.5px);
  	font-size: 0.875rem;
  	line-height: 1.375rem;
  	display: inline-block;
  	width: 14.375rem;
  	opacity: 0.8;
}
.footer {
  	position: absolute;
  	bottom: 2.875rem;
  	left: calc(50% - 168.5px);
  	width: 21.063rem;
  	height: 13.875rem;
  	font-size: 0.75rem;
}
.logo-topleft-icon {
  	position: absolute;
  	top: 0rem;
  	left: calc(50% - 48.5px);
  	width: 6.1rem;
  	height: 2.188rem;
  	object-fit: cover;
  	cursor: pointer;
}
.graphic-design {
  	width: 3.813rem;
  	position: relative;
  	letter-spacing: 0.36px;
  	line-height: 0.75rem;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.design-link {
  	position: absolute;
  	top: 3.125rem;
  	left: calc(50% - 168.5px);
  	border-radius: 9px;
  	border: 2px solid #d1d1d1;
  	box-sizing: border-box;
  	width: 4.938rem;
  	height: 2.25rem;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.081rem 1.868rem;
  	max-width: 30.912rem;
  	cursor: pointer;
}
.video-editing1 {
  	width: 3.125rem;
  	position: relative;
  	letter-spacing: 0.36px;
  	line-height: 0.75rem;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.editing-link {
  	position: absolute;
  	top: 3.125rem;
  	left: calc(50% - 73.5px);
  	border-radius: 9px;
  	border: 2px solid #d1d1d1;
  	box-sizing: border-box;
  	width: 4.688rem;
  	height: 2.25rem;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.081rem 1.868rem;
  	max-width: 30.912rem;
  	cursor: pointer;
}
.prev-work {
  	width: 2.688rem;
  	position: relative;
  	letter-spacing: 0.36px;
  	line-height: 0.75rem;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.prev-link {
  	position: absolute;
  	top: 3.125rem;
  	left: calc(50% + 17.5px);
  	border-radius: 9px;
  	border: 2px solid #d1d1d1;
  	box-sizing: border-box;
  	width: 4rem;
  	height: 2.25rem;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.081rem 1.868rem;
  	max-width: 30.912rem;
  	cursor: pointer;
}
.contact {
  	width: 4.063rem;
  	position: relative;
  	letter-spacing: 0.36px;
  	line-height: 0.75rem;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.contact-link {
  	position: absolute;
  	top: 3.125rem;
  	left: calc(50% + 97.5px);
  	border-radius: 9px;
  	border: 2px solid #d1d1d1;
  	box-sizing: border-box;
  	width: 4.438rem;
  	height: 2.25rem;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.081rem 1.868rem;
  	max-width: 30.912rem;
  	cursor: pointer;
}
.nav-bar {
  	position: absolute;
  	top: 0.75rem;
  	left: calc(50% - 168.5px);
  	width: 21.063rem;
  	height: 5.375rem;
  	font-size: 0.75rem;
  	color: #d1d1d1;
}
.hero-text1 {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -2px;
  	line-height: 6rem;
}
.sub-text1 {
  	align-self: stretch;
  	position: relative;
  	font-size: 1.35rem;
  	line-height: 1.89rem;
  	font-family: Poppins;
}
.links1 {
  	width: 16.438rem;
  	box-shadow: 0px 0px 29px -8px rgba(24, 24, 24, 0.4);
  	border-radius: 18.54px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 4.5rem;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.562rem 0rem 0.937rem;
  	box-sizing: border-box;
  	gap: 1.25rem;
}
.content {
  	position: absolute;
  	width: 73.87%;
  	top: 8.5rem;
  	right: 13.07%;
  	left: 13.07%;
  	height: 26.563rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	font-size: 3rem;
  	font-family: Zorque;
}
.background-parent {
  	width: 100%;
  	position: relative;
  	background-color: #000000;
  	height: 403.813rem;
  	overflow: hidden;
  	text-align: center;
  	font-size: 2.25rem;
  	color: #ffffff;
  	font-family: Poppins;
    padding: 0;
}
